.venv/
**/__pycache__/
*.pyc
*.mp4
screening_report.json
backend/node_modules/
backend/uploads/
cv/AutiCare/temp_uploads/
cv/AutiCare/data/image_model/test/
cv/AutiCare/data/video_model/
**/.env
**/.env.*
!**/.env.example
